*,*:before,*:after{
    box-sizing: border-box;
}
.cour{
    font-size: larger;
    color: darkviolet;
}


.spn{
    font-size: larger;
    color:darkviolet ;
}
.box{
    font-size:16px;
    color: aqua;
    text-align: center;
    background-color:unset;

}
#box5{
    display:-moz-inline-block;
    float: none;
    color: black;
    border-radius:20%;
    overflow:hidden;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
    height: auto;
}

#box4{
    display:inline-block;
    width: 250px;
    color: black;
    -webkit-border-radius:10%;
    -moz-border-radius:10%;
    background-color: bisque;
    margin-left:60px;
    font-size: large;
}
#ronger{
    border-radius:20%;
}

#box4 a{
    color: red;
    font-size: large;
}
#box5 a{
    color: red;
    font-size: large;
}
#box5 h1{
    font-weight: bold;
    color: darkorchid;
    font-size: larger;
    font-style: oblique;
}
#box4 h1{
    font-weight: bold;
    color:darkblue;
    font-size: larger;
    font-style: oblique;
}

#box3{
    display: inline-flex;
    width: border-box;
}
#box2{
    color: black;
    background-color:azure;
    overflow:hidden;
    -webkit-border-radius:30%;
    -moz-border-radius:30%;
    border-radius:20%;
    opacity:70%;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto
}
.bg-img div #ulou{
    background-color: black;
    border-radius:20%;
    opacity:0.8;
}

.bg-img div #ulou li a{
    color: red;
    font-size: larger;
}
.rond{
    overflow:hidden;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    margin-left: 250px;

}
.bg-img6{
    background-image: url("./Image/background4.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.bg-img5{
    background-image: url("./Image/background3.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.bg-img7{
    background-image: url("./Image/copilote.jpeg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.bg-img4{
    background-image: url("./Image/background2.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.bg-img3{
    background-image: url("./Image/b.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.bg-img2{
    background-image: url("./Image/background.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.bg-img {
    background-image: url("./Image/fond.jpeg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    font-size: larger;
}
.footer{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    background-color: #021b39;
    display:flex;
    flex-flow: row wrap;
}
.footer > *{
    flex:1 100%;
}

.footer-left{
    margin-right:1.25em;
    margin-bottom: 2em;
}
.footer-left img{
    width:50%;
}
#titre{
    font-weight:600;
    font-size:40px;
    color: red;
    text-align: center;

}
#titre2{
    font-weight:bold;
    font-size:20px;
    color: darkviolet;
    text-align: center;

}
#formulaire{
    font-size:20px;
    color:springgreen ;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:unset;

}
#titr:hover{
    background-color:red ;
}
#titr{
    font-weight:400;
    font-size:20px;
    color: black;
    background-color: aqua;
    opacity: 50%;
    text-align: center;
}
.footer ul{
    list-style: none;
    padding-left:0;
}
.footer li{
    line-height:2em;
}
.footer a{
    text-decoration:none;
}

.footer-right{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    flex-flow: row wrap;

}
.footer-right #site{
    font-size: medium;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a {
    font-size:13px;
}
.footer-bottom{
    text-align:center;
    padding-top:50px;
}
.footer-left p{
    padding-right:20%;
}
.socials a{
    width:70px;
    height: 70px;
    display: inline-block;
    margin-right:2px;
}

@media screen and (min-width:600px){
    .footer-right >*{
        flex:1;
    }
    .footer-left{
        flex:1 0px;
    }
    .footer-right{
        flex:2 0px;
    }
}
@media(max-width:600px){
    .footer{
        padding:15px;
    }
    .main{
        font-size: 55px;
    }
}